<html>
    <head>
        <title>
            JB Toy Balloons
        </title>
        <link rel="stylesheet" href="style.css">
        <script src="jquery.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        
        <script>
            $(document).ready(()=>{
                
            })
        </script>
    </head>
    <body>
        <header class="HeadFoot">
            <ul id="left-nav">
                <li id="logo"><img src="logo.png" id="logo"></li>          
            </ul>
            
            <ul id="right-nav">
                <p>Welcome {{}}</p>
                <li id="logOut">Log out</li>
                <li id="profile">profile</li>
            </ul>
        </header>
        
        <div class="contain-all">
            <div class="main">
                <div class="order_container">
                    <form>
	                   <input type="button" value="Return to previous page" onClick="javascript:history.go(-1)"/>
                    </form>
                </div>
            </div>
        </div>
        
        <footer id="copyright">
            <p>&copy;2019 ALL RIGHTS RESERVED. JB TOY BALLOONS</p>
        </footer>
    </body>
</html>